.edit{
  padding-bottom: 50px;
  background: #f1f1f1;
  .el-form{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding:50px 50px 20px 20px;
    box-sizing: border-box;
    background: #fff;
  }
  .markdown-body{
    height: 700px;
    width: 100%;
    margin: 0 auto;
  }
}

.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag { 
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  vertical-align: bottom;
}

