.patch{
  .el-form{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
    background: #fff;

    .el-form-item{
      margin-bottom: 10px;
    }
  }
  .markdown-body{
    height: 580px;
    width: 100%;
    margin: 0 auto;
  }

  /deep/ .v-note-wrapper{
    border-radius: 5px;
    .v-note-op{
      box-sizing: border-box;
      border:1px solid #ccc;
      box-shadow: 0 0 0 #000;
    }
    .v-note-panel{
      box-sizing: border-box;
      border:1px solid #ccc;
      border-top: none;
      box-shadow: 0 0 0 #000;
    }
  }
}

.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag { 
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  vertical-align: bottom;
}

