$titleColor: #000;
.post-list{
  max-width:1200px;
  margin: 0 auto;
  > ul {
    > li{
        > dl > dt > a{
          font-size: 24px;
          color: $titleColor;
          font-weight: 700;
        }
        > dl > dt > span{
          display: block;
          padding: 10px 0;
        }
        > dl > dd{
          line-height: 20px;
        }
    }
    > li:not(:last-child){
      margin-bottom: 20px;
    }
  }
}