.loginWrap{
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  .loginContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 10px #ccc;
    background: #fff;
    border-radius: 10px;
    padding: 50px 100px 30px 50px;
    .el-main{
      width: 400px;
    }
  }
}