$defaultFontSize: 16px;

body, html{
  font-size: $defaultFontSize;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  height: 100%;
  #app{
    height: 100%;
    .container{
      margin:0 auto;
      height: 100%;
    }
  }
}
